<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {% include 'head_css.html' %}
</head>
<body>
{% include 'javascript.html' %}
<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  {% include 'navbar.html' %}
  {% block content %}
  {% endblock %}

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(event){
    $('.reply-btn').click(function() {
      $(this).parent().parent().next('.replied-comments').fadeToggle()
    });
  });

  $(document).on('submit', '.comment-form', function(event){
    event.preventDefault();
    console.log($(this).serialize());
    $.ajax({
      type: 'POST',
      url: $(this).attr('action'),
      data: $(this).serialize(),
      dataType: 'json',
      success: function(response) {
        $('.main-comment-section').html(response['form']);
        $('textarea').val('');
        $('.reply-btn').click(function() {
          $(this).parent().parent().next('.replied-comments').fadeToggle();
          $('textarea').val('');
        });
      },
      error: function(rs, e) {
        console.log(rs.responseText);
      },
    });
  });


  $(document).on('submit', '.reply-form', function(event){
    event.preventDefault();
    console.log($(this).serialize());
    $.ajax({
      type: 'POST',
      url: $(this).attr('action'),
      data: $(this).serialize(),
      dataType: 'json',
      success: function(response) {
        $('.main-comment-section').html(response['form']);
        $('textarea').val('');
        $('.reply-btn').click(function() {
          $(this).parent().parent().next('.replied-comments').fadeToggle();
          $('textarea').val('');
        });
      },
      error: function(rs, e) {
        console.log(rs.responseText);
      },
    });
  });
</script>
<footer class="footer">
  <div class="footer-grid">
    <nav class="footer-nav">
      <ul>
        <li>
        <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-link"></i><a href="/" target="_blank" rel="noopener noreferrer"> 2019 edition</a></button>
        </li>
        <li>
        <button type="button" class="btn btn-primary btn-circle"><i class="glyphicon glyphicon-ok"></i><a href="" target="_blank" rel="noopener noreferrer"> Facebook</a> </button>
        </li>
        <li>
          <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-heart"></i> <a href="" target="_blank" rel="noopener noreferrer">Instagram</a></button>
        </li>
        <li>
          <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i> <a href="" target="_blank" rel="noopener noreferrer">Twitter</a></button>
        </li>
        <li>
          <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-link"></i><a href="" target="_blank" rel="noopener noreferrer">Contact us</a></button>
        </li>
      </ul>
    </nav>
    <br>
    <h1 class="footer-copyright">&copy; 2020 Find Educate All rights reserved</h1>


  </div>
</footer>



</body>
</html>