{% comment %} 
{% block cbox_model %}
  {% load staticfiles %}

  <div class="container content">
    <link href="{% static "css/course.css" %}" rel="stylesheet"/>
    <div class="row">
      {% if queryset %}
        {% for instance in queryset %}
          <div class="col-md-4 course-box-model">
            {% if instance in queryset2%}
            <a href="{% url 'course_homepage' instance.course_name %} ">
            {% else%}
            <a href="{% url 'charge_course' instance.course_name %}">
            {% endif %}  
              <div class="inner-wrap">
                <div class="inner-top">
                  {{ instance.course_name }}
                </div>
                <div class="inner-middle"></div>
                <div class="inner-bottom">
                  <span class="author">Author: {{ instance.user }}</span>
                  <span class="course-type">Self-Paced</span>
                </div>
              </div>
            </a>
            
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

{% endblock %}
 {% endcomment %}


{% block cbox_model %}
  {% load static %}


    <link href="{% static "css/courses.css" %}" rel="stylesheet"/>
    <div class="container" data-aos="fade-up"></div>
  <section id="courses" class="courses">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
 







        {% if queryset %}
        {% for instance in queryset %}
        <div class=" col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="course-item">
            <img src="{%static "assets/img/course-1.jpg"%}" class="img-fluid" alt="...">
            <div class=" course-content">
              <div class=" d-flex justify-content-between align-items-center mb-3">	
                <h4 ></h4>
                <p class="price">$169</p>
              </div>

              <h3>
                {% if instance in queryset2%}
                  <a href="{% url 'course_homepage' instance.course_name %} ">
                {% else%}
                  <a href="{% url 'charge_course' instance.course_name %}">
                {% endif %}  
                {{ instance.course_name }}
                </a>
              </h3>
              <p>{{instance.text }}</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="{% static "assets/img/course-1.jpg"%}" class="img-fluid" alt="">
                  <span>Author: {{ instance.user }}</span>
                  <span class="course-type">Self-Paced</span>
                </div>
                <div class="trainer-rank d-flex align-items-center">
                  <i class="bx bx-user"></i>&nbsp;50
                  &nbsp;&nbsp;
                  <i class="bx bx-heart"></i>&nbsp;65
                </div>
              </div>
            </div>
            
          </div>
        </div> <!-- End Course Item-->
        {% endfor %}
            {% endif %}
</div>
    </div></section>
{% endblock %}