{% extends 'base.html' %}
{% load static %}


{%block content%}

<link href="{% static "assets/img/favicon.png" %}" rel="icon">
<link href="{% static "assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">
<link href="{% static "css/affiliate.css" %}" rel="stylesheet" />

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <div><h2 class="top-h2">Get Flat 25% Affiliate Commission On Each Ticket Sold !</h2></div>
        <div class="ref-link">{{profile.referral.url}}</div>
        <div class="top-h5"><h5>Share this refferal link with your friends and get rewarded on each successful payment done through your link. </h5></div>
        <div class="social">
                  <a class="reffereal-share" href="http://www.twitter.com/share?url={{profile.referral.url}}/"><i class="icofont-twitter"></i></a>
                  <a class="reffereal-share" href="https://www.facebook.com/sharer/sharer.php?u={{profile.referral.url}}"><i class="icofont-facebook"></i></a>
                  <a class="reffereal-share" href="whatsapp://send?text=https://{{profile.referral.url}}"><i class="fa fa-whatsapp"><i class="icofont-whatsapp"></i></a>
                  <a class="reffereal-share" href="https://www.linkedin.com/shareArticle?mini=true&url={{profile.referral.url}}&title=&summary=&source="><i class="icofont-linkedin"></i></a>
                  <a class="reffereal-share" href="mailto:info@example.com?&subject=&body={{profile.referral.url}}"><i class="icofont-envelope"></i></a>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">




          <div class="col-lg-6 count-box-outer">
           <div class="row count-box">
            <div class="col-2 icon-box1">
              <i class="icofont-stack-overflow affiliate-icon"></i>
            </div>
             <div class="member-content col">
                <h5>Payments made through your link</h5>
                <h3>{{profile.affamount}}</h3>
             </div>
           </div>
          </div>



          <div class="col-lg-6 count-box-outer">
           <div class="row count-box">
            <div class="col-2 icon-box1">
              <i class="icofont-money-bag affiliate-icon"></i>
            </div>
             <div class="member-content col">
                <h5>Redeemable Amount</h5>
                <h3>₹{{profile.affamount}}</h3>
             </div>
           </div>
          </div>






        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  {% endblock %}
    